In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [4]:
innerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [6]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [7]:
hierarchy = list(zip(outerIndex,innerIndex))

In [12]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [13]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [14]:
df = pd.DataFrame(randn(9,3),hierarchy,columns = ["Column1","Column2","Column3"])

In [16]:
df

                Column1   Column2   Column3
Group1 Index1 -1.212740 -0.898993 -2.281579
       Index2 -1.319452 -1.892799  1.598520
       Index3 -0.519782 -0.317485 -1.464734
Group2 Index1 -1.473614  1.644832 -0.592261
       Index2 -1.112540 -0.308732  1.661544
       Index3 -0.793026  2.584869 -0.308565
Group3 Index1  0.111535  0.521636  0.200833
       Index2 -1.436732 -0.985544 -0.514861
       Index3  1.052452  0.328317 -0.766868

In [17]:
df["Column1"]

Group1  Index1   -1.212740
        Index2   -1.319452
        Index3   -0.519782
Group2  Index1   -1.473614
        Index2   -1.112540
        Index3   -0.793026
Group3  Index1    0.111535
        Index2   -1.436732
        Index3    1.052452
Name: Column1, dtype: float64

In [18]:
df.loc["Group1"]

         Column1   Column2   Column3
Index1 -1.212740 -0.898993 -2.281579
Index2 -1.319452 -1.892799  1.598520
Index3 -0.519782 -0.317485 -1.464734

In [19]:
df.loc[["Group1","Group2"]]

                Column1   Column2   Column3
Group1 Index1 -1.212740 -0.898993 -2.281579
       Index2 -1.319452 -1.892799  1.598520
       Index3 -0.519782 -0.317485 -1.464734
Group2 Index1 -1.473614  1.644832 -0.592261
       Index2 -1.112540 -0.308732  1.661544
       Index3 -0.793026  2.584869 -0.308565

In [21]:
df.loc["Group1"].loc["Index1"]["Column1"]

-1.2127397783080827

In [22]:
df

                Column1   Column2   Column3
Group1 Index1 -1.212740 -0.898993 -2.281579
       Index2 -1.319452 -1.892799  1.598520
       Index3 -0.519782 -0.317485 -1.464734
Group2 Index1 -1.473614  1.644832 -0.592261
       Index2 -1.112540 -0.308732  1.661544
       Index3 -0.793026  2.584869 -0.308565
Group3 Index1  0.111535  0.521636  0.200833
       Index2 -1.436732 -0.985544 -0.514861
       Index3  1.052452  0.328317 -0.766868

In [23]:
df.index.names

FrozenList([None, None])

In [24]:
df.index.names = ["Groups","Indexes"]

In [25]:
df

                 Column1   Column2   Column3
Groups Indexes
Group1 Index1  -1.212740 -0.898993 -2.281579
       Index2  -1.319452 -1.892799  1.598520
       Index3  -0.519782 -0.317485 -1.464734
Group2 Index1  -1.473614  1.644832 -0.592261
       Index2  -1.112540 -0.308732  1.661544
       Index3  -0.793026  2.584869 -0.308565
Group3 Index1   0.111535  0.521636  0.200833
       Index2  -1.436732 -0.985544 -0.514861
       Index3   1.052452  0.328317 -0.766868

In [29]:
df.xs("Group1").xs("Index1").xs("Column1")

-1.2127397783080827

In [30]:
df.xs("Index1")

KeyError: 'Index1'

In [31]:
df.xs("Index1",level = "Indexes")

         Column1   Column2   Column3
Groups
Group1 -1.212740 -0.898993 -2.281579
Group2 -1.473614  1.644832 -0.592261
Group3  0.111535  0.521636  0.200833